---
layout: layouts/archive-index.njk
permalink: /archive/
title: Archive
hideArchiveLinks: true
---
<h1>Archive</h1>

{% for yearEntry in collections.daysByYear %}
  {% set year = yearEntry[0] %}
  {% set days = yearEntry[1] %}
  {% set months = days | uniqueMonths %}
  <p>
    <strong><a href="/archive/by_date/{{ year }}/">{{ year }}</a></strong> :
    {% for m in months | sort %}
      <a href="/archive/by_date/{{ year }}/{{ m }}/">{{ m | monthName }}</a>{% if not loop.last %} {% endif %}
    {% endfor %}
  </p>
{% endfor %}
